   table {
            border: 7px black solid;
            color: blue;
            font-size: 20px;
            margin-left: auto;
            margin-right: auto;
        }

        td {
            border: 5px red solid;
        }
    /*Oleksii Babiychuk z76*/