p{
    font-size: 11pt;
}
p:first-child{
    font-size: 7mm;
    font-style: italic;
}
body{
    background-color: rgb(192,192,192);
}
div#pierwszy_babiychuk{
    width: 704pt;
    background-color: rgb(139, 250, 135);
    margin-left: auto;
    margin-right: auto;
    border: solid 3px;
    border-color: rgb(0, 0, 0);
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}
div#drugi_babiychuk {
    width: 904;
    background-color: rgb(135, 206, 250);
    margin-left: auto;
    margin-right: auto;
    border: solid 5px;
    border-color:rgb(12, 0, 117);
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
div#trzeci_babiychuk{
    width: 1104pt;
    background-color: rgb(224, 106, 215);
    border: solid 7px;
    border-color: purple;
    border-top-right-radius: 19px;
    border-top-left-radius: 19px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
}/*  Babiychuk_z65 */