p {
  font-size: 22pt;
  color: red;
}

#gruby_babiychuk {
  font-size: 17pt;
  color: green;
  font-weight: bold;
}

#dlawszystkich_babiychuk {
  font-size: 10pt;
  color: blue;
  font-family: "Arial";
}
/* Babiychuk Oleksii */
