#pogrubienie_babiychuk {
  font-size: 34px;
  color: #d13a67;
}

#pochylona_babiychuk {
  font-size: 38pt;
  color: #ed5151;
}

#index_gorny_babiychuk {
  font-size: 1.3cm;
  color: #968b1c;
}

#index_dolny_babiychuk {
  font-size: 3.5cm;
  color: #32eef0;
}

#mono_babiychuk {
  font-size: 43px;
  color: #115252;
}

#powiekszenie_babiychuk {
  color: #2fa472;
}

#pomniejszenie_babiychuk {
  color: #b940f1;
}

/* Babiychuk Oleksii */
